{% extends "base.j2" %}

{% block head %}
<script>const _K="{{ k }}",_V="{{ v }}"</script>
<script src="{{ url_for("static", filename="ee2e.js") }}"></script>
{% endblock %}

{% block body %}
<h1>Sign up for an <a href="https://{{ domain | escape }}/">{{ domain | escape }}</a> e-mail</h1>

<noscript>
    <h2 style="color:red">Please enable JavaScript for client-side AES and cookies for session stuff. Else the signup process will <i>fail</i>.</h2>
</noscript>

<p>
    If you wish to secure an e-mail address on our server, kindly complete the form provided, ensuring <b>JavaScript and Cookies are enabled</b>.
    Please note that this page requires the <b>Browser crypto API</b> for functionality.
</p>

<p>
    When choosing a username, maintain decorum and respect common norms of username creation.
    Also, remember to choose a strong password, as weak passwords may hinder the creation of your mailbox.
    Please understand that this e-mail service is not entirely anonymous, since <a href="https://mailcow.email/">Mailcow</a> maintains logs of:
</p>

<ul>
    <li>IP addresses (in-memory logs)</li>
    <li>Login/Logout attempts (in-memory logs)</li>
    <li>Autodiscover attempts (in-memory logs)</li>
    <li>Rate limit triggers (in-memory logs)</li>
    <li>Origin and target of e-mails (RSpamD, in-memory logs)</li>
    <li>Email subject matter and spam score (RSpamD, in-memory logs)</li>
    <li>... and more, all encapsulated within the <a href="https://github.com/mailcow/mailcow-dockerized">Mailcow's source code</a> for further clarification</li>
</ul>

<p>
    In-memory logs are logs which get stored temporarily, while RSpamD and other types may get stored for longer.
</p>

<p>
    By registering, you consent to this logging policy and acknowledge that this server will send an email to
    <a href="mailto:{{ admin }}">{{ admin }}</a> from your account on your behalf, the email will include your display name,
    your email address, your signup reason, and a timestamp.
</p>

<p>
    Bear in mind that under typical circumstances, administrators only have access to abstract information,
    as listed (or not listed) above, and not to the contents of your mailbox. In the event of a legitimate request from authorities,
    your mailbox may be handed over to abide by the law. Therefore, it is incumbent upon you to act responsibly, comply with legal
    requirements in your email use, and ensure any sensitive information is securely encrypted. This means you have to comply with
    German, Lithuanian, and your Local law.
</p>

<p>
    Should you have queries, please send an email to <a href="mailto:ari@ari.lt">ari@ari.lt</a>.
    For encrypted communication, use GPG key <a href="https://keys.openpgp.org/vks/v1/by-fingerprint/4FAD63E936B305906A6C4894A50D5B4B599AF8A2">4FAD63E936B305906A6C4894A50D5B4B599AF8A2</a>.
    Please be aware that I may utilize the same GPG key to encrypt or sign my own responses, too.
</p>

<p>
    <b>The websites <a href="https://mail.ari.lt/">mail.ari.lt</a>, <a href="https://ari.lt/">ari.lt</a>, and the like, are NOT LIABLE FOR THE ACTIONS OF THEIR USERS.
    IT IS THEIR RESPONSIBILITY TO ABIDE WITH LAW, STAY UP-TO-DATE WITH LOGGING POLICY AND TERMS, AND BE RESPONSIBLE FOR THEIR OWN ACTIONS, USERS UNDER THE AGE OF LEGAL CONSENT
    OR WITHOUT A LEGAL GUARDIANS PERMISSION AND CONSENT MAY NOT USE THIS EMAIL SERVER.</b>
</p>

<form id="form" method="post">
    <fieldset>
        <legend>Sign up</legend>

        <div class="form-group">
            <label for="local_part">Username ([username]@{{ domain | escape }}):</label>
            <input required minlength="{{ min_username }}" type="text" id="local_part" name="local_part" placeholder="jane" />
        </div>

        <div class="form-group">
            <label for="name">Display name:</label>
            <input required type="text" id="name" name="name" placeholder="Jane Dane" /> </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input required type="password" id="password" name="password" placeholder="Password..." />
        </div>

        <div class="form-group">
            <label for="password2">Password confirmation:</label>
            <input required type="password" id="password2" name="password2" placeholder="Password confirmation..." />
        </div>

        <div class="form-group">
            <label for="reason">Why do you want to join this email server?:</label>
            <input required type="text" id="reason" name="reason" placeholder="I want to join ari.lt email, because ..." />
        </div>

        <div class="form-group">{{ c }}</div>

        <div class="form-group">
            <label for="code">CAPTCHA:</label>
            <input required type="text" id="code" name="code" placeholder="Enter the CAPTCHA above" />
        </div>

        <div class="form-group">
            <label for="terms">I am the age of legal consent (or I have a legal guardian who consents for me) and I trust <a href="https://{{ mdomain | escape }}/">{{ mdomain | escape }}</a> ("the e-mail server") with my e-mails, I understood and agree with the logging policy of the email server, and agree with all terms and disclaimers. I am responsible for my own actions while using the email server:</label>
            <input required value="off" onclick="this.value=(this.value==='on'?'off':'on');this.checked=(this.value==='on')" type="checkbox" id="terms" name="terms" />
        </div>

        <button type="submit">Sign up</button>
    </fieldset>
</form>

<p>
<i>Or maybe you want to <a href="/signup/delete">delete your existing mailbox</a>?</i>
</p>

<h2 id="how">How to use this server?</h2>

<p>
    This is just like any other e-mail server. You can use this server by using a client, for example:
</p>

<ul>
    <li>Thunderbird: <a href="https://thunderbird.net/">https://thunderbird.net/</a></li>
    <li>Gmail: <a href="https://mail.google.com/">https://mail.google.com/</a></li>
    <li>... See: <a href="https://en.wikipedia.org/wiki/List_of_email_clients">List of e-mail clients</a></li>
</ul>

Or, any of the hosted ones:

<ul>
    <li>SOGo: <a href="https://{{ mdomain | escape }}/SOGo">https://{{ mdomain }}/SOGo</a> (username would be [username]@{{ domain }})</li>
    <li>RoundCube: <a href="https://rc.{{ domain | escape }}/">https://rc.{{ domain | escape }}/</a> (username would be just [username])</li>
</ul>

<p>
If you're configuring a client manually, keep in mind that the mail server is <b>{{ mdomain }}</b> not <b>{{ domain }}</b>.
</p>

<p>
These are just used to compose and read your e-mails, to manage your account you can only use <a href="https://{{ mdomain | escape }}/">https://{{ mdomain | escape }}/</a>.
</p>

<p>
To log into it, you navigate to it in your browser, and then you log in with your username being [username]@{{ domain }} and your password being your password.
There you can manage things such as 2FA, spam rules, temporary aliases, etc.
</p>

<script>ee2e_form("form")</script>
{% endblock %}
